body{
    background: url("bg-default.jpg");
    margin: 0px;
    background-attachment: fixed;
}

.container{
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    width: 250px;
    height: 205px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 0;
    filter: brightness(0.7);
    transition-duration: 1s;
}

.col:hover{
    filter: brightness(1);
    box-shadow: 0px 0px 20px black;
    transition-duration: 1s;
}

.col:first-child{
    margin-left: 0px;   
}

.preview{
    width: 250px;
    height: 140.5px;
}

.bottom{
    width: 250px;
    height: 60px;
    display: inline-flex;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.host_preview{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.describe{
    width: 190px;
    height: 60px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 5px;
}

.channel_name{
    width:100px;
    height: 30px;
    flex: 1;
    margin: 0;
    padding-top: 7px;
    font: 17px bold arial;
}

.host_name{
    width: 100px;
    height: 30px;
    flex: 1;
    margin: 0; 
    font: 17px bold arial;
}